extends layout

block content
  h1 Quippy
  p.lead Find Restaurants from everywhere
  hr
  .row
    .col-sm-6
      h2 Heading
      p Quippy launched the first version in Japan and other countries. 
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p We are hiring developers and designer in Tokyo.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p We just got funding from Softbank. Lead this round has many investors...
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p We reach 1 million downloads on Apple Store. We plan to release version 2 in few weeks...
      p
        a.btn.btn-default(href='#', role='button') View details »