extends ../layout

block content
  .page-header
    h2 Restaurant list
    div
      table
        thead
          tr
            th Name
            th Opening Hour
            th Action
        tbody
          each record, i in restaurants
            tr
              td 
                a(href='/restaurant/detail/' + record._id) #{record.name} - #{record.address}
              td
                span #{record.openinghour}
              td
                form.form(action='/restaurant/detail/' + record._id, method='GET')
                  .form-group
                    input(type='hidden', name='_csrf', value=_csrf)
                    .col-sm-2
                      button.btn-xs.btn-primary(type='submit')
                        i.fa.fa-pencil-square-o
                        | Edit
                form.form(action='/restaurant/delete/' + record._id, method='POST')
                  .form-group
                    input(type='hidden', name='_csrf', value=_csrf)
                    .col-sm-2
                      button.btn-xs.btn-danger(type='submit')
                        i.fa.fa-trash
                        | Remove
        
    a(href='/restaurant/create') Create one